@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caveat";
  src: url('/public/fonts/Caveat.ttf');
}

@font-face {
  font-family: "Ink Free";
  src: url('/public/fonts/Inkfree.ttf');
}

body {
  background: black;
}
