@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inkfree";
  src: url(../../public/fonts/Inkfree.ttf);
}

body {
  background-color: #3d2b46;
  margin: 0;
  padding: 0;
}

.txtShadow {
  text-shadow: 2px 3px 5px #705293;
}
